<div class="jumbotron">
    <h1>Contact Manager API</h1>
    <p class="lead">My name is Alberto Ramos and I'm Happy to submit this solution.</p>
    <p>
        <a href="https://github.com/AlbertoRomanRamosRodriguez/ContactManager" class="btn btn-primary btn-lg">View Source Code &raquo;</a>
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Who am I</h2>
        <p>Alberto Ramos is a young developer but eager to learn and take on big challenges.
        <p>
            <a class="btn btn-default" href="https://www.linkedin.com/in/alberto-rom%C3%A1n-ramos-rodr%C3%ADguez-7019ab1b2?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Learn more about my skills on LinkedIn &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Previous Projects</h2>
        <p>In the last two years of my bachelor studies I developed several projects</p>
        <p><a class="btn btn-default" href="https://github.com/AlbertoRomanRamosRodriguez">Check them on GitHub&raquo;</a></p>
    </div>
</div>
