<div class="jumbotron">
    <h1>COntact Manager API</h1>
    <p class="lead">My name is Alberto Ramos and I'm Happy to submit this solution.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">View Source Code &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Who am I</h2>
        <p>Alberto Ramos is a young developer but eager to learn and take on big challenges.
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more about my skills on LinkedIn &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Previous Projects</h2>
        <p>In the last two years of my bachelor studies I developed several projects mainly about Machine Learning</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Check them on GitHub&raquo;</a></p>
    </div>
</div>
